@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-row/intro__list-row.css);
@import url(./__list-row/_text-value/intro__list-row_text-value.css);


.intro {
  max-width: 690px;
  margin-left: 148px;

}
@media (max-width:1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media (max-width:768px){
  .intro {
    margin: 0px 24px;
    max-width: auto;
  }
}

@media (max-width: 320px) {
  .intro {
    margin: 0px 16px;
  }
}
