.cover__overlay {
  max-width: 100%;
  max-height: 740px;
  position: relative;
}

.cover__overlay::before {
  content: '';
  width: 100%;
  height: auto;
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: opacity 0.3s linear;
}

.cover__overlay:hover::before {
  cursor: pointer;
  opacity: .8;
}

