.cover__overlay {
  max-width: 100%;
  max-height: 740px;
  position: relative;
}

.cover__overlay::before {
  content: ' ';
  width: 100%;
  height: auto;
  background-color: #2a2c2f;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  opacity: .3;
  transition: opacity .2s linear;
}

.cover__overlay:hover::before {
  cursor: pointer;
  opacity: .8;
}

